			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12"> 
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							<%= name %> <small>Edition de l'offre</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="#dashboard">Accueil</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="#offers">Mes offres</a>
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<b><%= name %></b>
							</li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<div class="tabbable tabbable-custom boxless">
							<ul class="nav nav-tabs">
								<li class=""><a href="#offer/<%= id %>" >Informations générales</a></li>
								<li class=""><a class="" href="#offer/<%= id %>/participation" >Participation</a></li>
								<li class=""><a class="" href="#offer/<%= id %>/eligibility" >Eligibilité</a></li>
								<li class="active"><a class="" href="#offer/<%= id %>/benefit" >Gain</a></li>
								<li class=""><a class="" href="#offer/<%= id %>/diffusion" >Diffusion</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab_1">
									<div class="portlet box">
										<div class="portlet-body form">
											<!-- BEGIN FORM-->
											<form action="#" class="form-horizontal">
												<div class="control-group">
													<label class="control-label">Stratégie</label>
													<div class="controls">
														<select id="form_strategy" class="span6 m-wrap" data-placeholder="Choose a Category" tabindex="1">

	  <% _(available_strategies.benefit).each(function(strategy) { %>
          <option value="<%= strategy.id %>" <% if(eligibility_strategy.id == strategy.id ){ %> selected="selected" <% } %> ><%= strategy.name %></option>
      <% }); %>

														</select>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Paramétrage</label>
													<div class="controls">
														<!--
														<p>
														    <label for="mode">Mode d'édition:</label>
														    <select id="mode">
														        <option value="tree">Arbre</option>
														        <option value="view">Vue</option>
														        <option value="form">Formulaire</option>
														        <option value="code">Code</option>
														        <option value="text">Texte</option>
														    </select>
														</p>
														-->

														<div id="jsoneditor" style="width:auto"></div>
													</div>
												</div>
												<div class="form-actions">
													<button type="submit" class="btn blue"><i class="icon-ok"></i>
														Enregister
													</button>
													<button type="button" class="btn reset">
														Annuler
													</button>
												</div>
											</form>
											<!-- END FORM--> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END PAGE CONTENT-->         
			</div>

<link rel="stylesheet" type="text/css" href="lib/jsoneditor-2.2.1/jsoneditor.css">
<script type="text/javascript" src="lib/jsoneditor-2.2.1/jsoneditor.js"></script>

<!-- ace code editor -->
<script type="text/javascript" src="lib/jsoneditor-2.2.1/lib/ace/ace.js"></script>
<script type="text/javascript" src="lib/jsoneditor-2.2.1/lib/ace/mode-json.js"></script>
<script type="text/javascript" src="lib/jsoneditor-2.2.1/lib/ace/theme-textmate.js"></script>
<script type="text/javascript" src="lib/jsoneditor-2.2.1/lib/ace/theme-jsoneditor.js"></script>

<!-- json lint -->
<script type="text/javascript" src="lib/jsoneditor-2.2.1/lib/jsonlint/jsonlint.js"></script>

<script type="text/javascript" >

	/*
    // create switchable mode
    var mode = document.getElementById('mode');
    mode.onchange = function () {
        editor.setMode(mode.value);
    };
	*/


    // create the editor
    var container = document.getElementById("jsoneditor");
    var options = {
        //mode: mode.value,
        mode: "tree",
        error: function (err) {
            alert(err.toString());
        }
    };

    var json = <%= JSON.stringify(benefit_schema) %>;
    window.jsonEditor = new jsoneditor.JSONEditor(container, options, json);

</script>